Repository planetarium/NineChronicles.EthBridge, pull requests merged in 2021-09, with the labels that each got.

#80 fix(bridge): correct ncg amount in `NCGKMGTransfer`
  bridge/src/ncg-kms-transfer.ts
Labels: bug, bridge

#82 feat(bridge): add timestamp to logs
  bridge/package.json
  bridge/src/index.ts
  bridge/yarn.lock
Labels: bridge

#81 feat(bridge): mint with gas price tip
  bridge/src/index.ts
  bridge/src/wrapped-ncg-minter.ts
  bridge/test/wrapped-ncg-minter.spec.ts
Labels: bridge

#85 fix(bridge): store intermediate step before mint
  bridge/src/observers/nine-chronicles.ts
  bridge/test/observers/nine-chronicles.spec.ts
Labels: bug, bridge

#86 fix(bridge): correct log message
  bridge/src/observers/nine-chronicles.ts
Labels: bug, bridge

#90 fix(bridge): correct log
  bridge/src/observers/nine-chronicles.ts
Labels: bug, bridge

#89 feat(bridge): skip transaction sent from banned address
  bridge/src/index.ts
  bridge/src/observers/nine-chronicles.ts
  bridge/src/policies/address-ban.ts
  bridge/test/observers/nine-chronicles.spec.ts
  bridge/test/policies/adress-ban.spec.ts
Labels: bridge

#88 feat(bridge-status-bot): introduce bridge-status-bot
  bridge-status-bot/README.md
  bridge-status-bot/app.sh
Labels: bridge-status-bot

#97 feat(bridge): log transaction hash of mint
  bridge/package.json
  bridge/src/wrapped-ncg-minter.ts
  bridge/test/wrapped-ncg-minter.spec.ts
  bridge/tsconfig.json
  bridge/types/web3-core-promievent/index.d.ts
  bridge/yarn.lock
Labels: bridge

#95 feat(bridge): limit gas price
  bridge/src/index.ts
  bridge/src/policies/gas-price.ts
  bridge/src/wrapped-ncg-minter.ts
  bridge/test/policies/gas-price.spec.ts
  bridge/test/wrapped-ncg-minter.spec.ts
Labels: bridge

#99 fix(bridge): ignore uncaught exception
  bridge/src/index.ts
Labels: bug, bridge

#98 feat(bridge): alert error through pagerduty
  bridge/package.json
  bridge/src/index.ts
  bridge/src/integrations/index.ts
  bridge/src/integrations/pagerduty.ts
  bridge/src/observers/burn-event-observer.ts
  bridge/src/observers/nine-chronicles.ts
  bridge/test/observers/__snapshots__/burn-event-observer.spec.ts.snap
  bridge/test/observers/__snapshots__/nine-chronicles.spec.ts.snap
  bridge/test/observers/burn-event-observer.spec.ts
  bridge/test/observers/nine-chronicles.spec.ts
  bridge/yarn.lock
Labels: bridge
