Repository planetarium/NineChronicles.EthBridge, pull requests merged in 2021-12, with the labels that each got.

#109 feat(scripts): introduce check-dropped-refund-transactions script
  scripts/check-dropped-refund-transaction.py
Labels: bridge, scripts

#107 feat(bridge): notify refund message
  bridge/src/messages/refund-event.ts
  bridge/src/observers/nine-chronicles.ts
  bridge/test/observers/__snapshots__/nine-chronicles.spec.ts.snap
  bridge/test/observers/nine-chronicles.spec.ts
Labels: enhancement, bridge

#113 fix(bridge): correct refund event transaction link
  bridge/src/messages/refund-event.ts
  bridge/test/observers/__snapshots__/nine-chronicles.spec.ts.snap
Labels: bug, bridge

#119 Updated minted balance in the status bot
  bridge-status-bot/app.sh
Labels: bug, bridge-status-bot

#120 add ether balance threshold and notify with @here message
  bridge-status-bot/app.sh
Labels: bridge-status-bot

#124 ci(gh-actions): check types of scripts with mypy
  .github/workflows/build.yaml
  scripts/observer/requirements-dev.txt
Labels: ci, scripts, style
