Repository planetarium/NineChronicles.EthBridge, pull requests merged in 2021-08, with the labels that each got.

#55 Decimal 2 to 18
  bridge/package.json
  bridge/src/interfaces/wrapped-ncg-minter.ts
  bridge/src/observers/burn-event-observer.ts
  bridge/src/observers/nine-chronicles.ts
  bridge/src/wrapped-ncg-minter.ts
  bridge/test/observers/__snapshots__/burn-event-observer.spec.ts.snap
  bridge/test/observers/burn-event-observer.spec.ts
  bridge/test/observers/nine-chronicles.spec.ts
  bridge/yarn.lock
  contracts/contracts/WrappedNCG.sol
Labels: bridge, contracts, enhancement

#48 feat(kms): use kms for also libplanet side
  bridge/.env.example
  bridge/aws.jest.config.js
  bridge/bridge.jest.config.js
  bridge/package.json
  bridge/src/headless-graphql-client.ts
  bridge/src/index.ts
  bridge/src/interfaces/headless-graphql-client.ts
  bridge/src/kms-ncg-signer.ts
  bridge/src/ncg-kms-transfer.ts
  bridge/test/aws-dependent/ncg-kms-transfer.aws.spec.ts
  bridge/test/monitors/nine-chronicles-transferred-event-monitor.spec.ts
  bridge/test/ncg-transfer.spec.ts
  bridge/yarn.lock
Labels: bridge

#56 fix(bridge): avoid invalid cast for null memo
  bridge/src/ncg-kms-transfer.ts
Labels: bug

#57 fix(bridge-www): update default contract address
  bridge-www/src/App.tsx
Labels: bug, bridge-www

#58 fix(bridge-www): fix decimals
  bridge-www/package.json
  bridge-www/src/App.tsx
  bridge-www/src/components/WrappedNcgBalance.tsx
  bridge-www/yarn.lock
Labels: bug, bridge-www

#59 docs(bridge): correct .env.example descriptions
  bridge/.env.example
  bridge/src/index.ts
Labels: bug, bridge

#54 feat(bridge): bulk transactions on authorized miner block
  bridge/src/index.ts
  bridge/src/monitors/confirmation-monitor.ts
  bridge/src/monitors/ethereum-burn-event-monitor.ts
  bridge/src/monitors/nine-chronicles-transferred-event-monitor.ts
  bridge/src/monitors/triggerable-monitor.ts
  bridge/test/monitors/nine-chronicles-transferred-event-monitor.spec.ts
Labels: bridge

#60 feat(contracts): add truffle configuration for mainnet
  contracts/truffle-config.js
Labels: contracts

#61 fix(bridge): correct authorized block index calculation
  bridge/src/monitors/nine-chronicles-transferred-event-monitor.ts
Labels: bug, bridge

#64 fix(bridge): fix invalid signature error
  bridge/package.json
  bridge/src/index.ts
  bridge/src/kms-ncg-signer.ts
  bridge/yarn.lock
Labels: bug, bridge

#68 fix(bridge): check zero address recipient
  bridge/src/messages/index.ts
  bridge/src/messages/unwrapping-failure-event.ts
  bridge/src/messages/wrapping-failure-event.ts
  bridge/src/observers/burn-event-observer.ts
  bridge/src/observers/nine-chronicles.ts
  bridge/test/messages/__snapshots__/unwrapping-failure-event.spec.ts.snap
  bridge/test/messages/__snapshots__/wrapping-failure-event.spec.ts.snap
  bridge/test/messages/unwrapping-failure-event.spec.ts
  bridge/test/messages/wrapping-failure-event.spec.ts
  bridge/test/observers/__snapshots__/burn-event-observer.spec.ts.snap
  bridge/test/observers/__snapshots__/nine-chronicles.spec.ts.snap
  bridge/test/observers/burn-event-observer.spec.ts
  bridge/test/observers/nine-chronicles.spec.ts
Labels: bug, bridge

#71 fix(bridge): correct transaction iteration
  bridge/src/observers/nine-chronicles.ts
Labels: bug, bridge

#76 fix(bridge): check invalid address
  bridge/src/observers/nine-chronicles.ts
  bridge/test/observers/nine-chronicles.spec.ts
Labels: bug, bridge

#75 feat(bridge): collect exchange fee
  bridge/src/index.ts
  bridge/src/messages/wrapped-event.ts
  bridge/src/observers/nine-chronicles.ts
  bridge/test/messages/__snapshots__/wrapped-event.spec.ts.snap
  bridge/test/messages/wrapped-event.spec.ts
  bridge/test/observers/__snapshots__/nine-chronicles.spec.ts.snap
  bridge/test/observers/nine-chronicles.spec.ts
Labels: bug, bridge

#67 feat(bridge): introduce activate account script
  bridge/src/activate-account.ts
Labels: bridge

#74 feat(bridge): limit exchange
  bridge/.env.example
  bridge/src/configuration.ts
  bridge/src/index.ts
  bridge/src/interfaces/exchange-history-store.ts
  bridge/src/messages/wrapped-event.ts
  bridge/src/observers/nine-chronicles.ts
  bridge/src/sqlite3-exchange-history-store.ts
  bridge/test/configuration.spec.ts
  bridge/test/messages/__snapshots__/wrapped-event.spec.ts.snap
  bridge/test/messages/wrapped-event.spec.ts
  bridge/test/observers/__snapshots__/nine-chronicles.spec.ts.snap
  bridge/test/observers/nine-chronicles.spec.ts
  bridge/test/sqlite3-exchange-history-store.spec.ts
Labels: bug, bridge

#77 feat(bridge): bump node image
  bridge/Dockerfile
Labels: bug, bridge

#78 fix(bridge): correct transferredAmountInLast24Hours
  bridge/src/observers/nine-chronicles.ts
  bridge/test/observers/nine-chronicles.spec.ts
Labels: bug, bridge
