Repository planetarium/NineChronicles.EthBridge, pull requests merged in 2021-06, with the labels that each got.

#33 fix(bridge): correct invalid query argument name
  bridge/src/headless-graphql-client.ts
Labels: bridge, bug

#37 fix(bridge): send burned ncg correctly
  bridge/src/index.ts
Labels: bridge, bug

#36 feat(bridge-www): introduce bridge web demo
  .github/workflows/build.yaml
  bridge-www/.gitignore
  bridge-www/README.md
  bridge-www/package.json
  bridge-www/public/favicon.ico
  bridge-www/public/index.html
  bridge-www/public/logo192.png
  bridge-www/public/logo512.png
  bridge-www/public/manifest.json
  bridge-www/public/robots.txt
  bridge-www/src/App.tsx
  bridge-www/src/components/WrappedNcgBalance.tsx
  bridge-www/src/index.tsx
  bridge-www/src/react-app-env.d.ts
  bridge-www/src/setupTests.ts
  bridge-www/src/wrapped-ncg-token.ts
  bridge-www/tsconfig.json
  bridge-www/yarn.lock
Labels: bridge

#42 fix(contracts): setup decimals
  .github/workflows/build.yaml
  contracts/.solhint.json
  contracts/contracts/Migrations.sol
  contracts/contracts/WrappedNCG.sol
  contracts/package-lock.json
  contracts/package.json
Labels: bug, contracts

#43 fix(bridge): handle decimals
  bridge/src/index.ts
  bridge/src/monitors/index.ts
  bridge/src/ncg-transfer.ts
  bridge/src/observers/burn-event-observer.ts
  bridge/src/observers/index.ts
  bridge/src/observers/nine-chronicles.ts
  bridge/test/monitors/nine-chronicles-transferred-event-monitor.spec.ts
  bridge/test/ncg-transfer.spec.ts
  bridge/test/observers/__snapshots__/burn-event-observer.spec.ts.snap
  bridge/test/observers/__snapshots__/nine-chronicles.spec.ts.snap
  bridge/test/observers/burn-event-observer.spec.ts
  bridge/test/observers/nine-chronicles.spec.ts
Labels: bridge, bug

#44 docs: update README
  bridge/.env.example
  bridge/README.md
  contracts/README.md
Labels: bridge, contracts, documentation

#45 Change smart contract address
  bridge-www/README.md
  bridge-www/src/App.tsx
  contracts/README.md
Labels: contracts
