Repository planetarium/NineChronicles.EthBridge, pull requests merged in 2023-06, with the labels that each got.

#246 feat(bridge): apply base fee policy
  bridge/.env.development
  bridge/src/index.ts
  bridge/src/observers/nine-chronicles.ts
  bridge/test/observers/__snapshots__/nine-chronicles.spec.ts.snap
  bridge/test/observers/nine-chronicles.spec.ts
Labels: bridge, Extra Small

#247 feat(bridge): add minting cli
  bridge/Dockerfile
  bridge/package.json
  bridge/scripts/mint-script.ts
  bridge/tsconfig.json
  bridge/tsconfig.production.json
  bridge/yarn.lock
Labels: Large

#249 feat(bridge): use transfer_asset4
  bridge/src/ncg-kms-transfer.ts
Labels: bridge, Extra Small

#250 added tx parser for minting cli
  scripts/tx_parser_for_minting_cli.py
Labels: Extra Small
